# Ignore node_modules in all locations
node_modules/
**/node_modules/

# Ignore the sample results folder at repo root
/sample results/

# Common extras
npm-debug.log*
lis-fullstack/data.json
lis-fullstack/data-users.json
lis-fullstack/logs/report-errors.log
# Ignore uploaded e-signatures stored by the app
lis-fullstack/assets/signature/
new-gezyne/
lis-app-standalone/dist
lis-fullstack/tray/dist
lis-fullstack/dist
lis-fullstack/logs